# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.env.*

# =========================
