apiVersion: v1
kind: ConfigMap
metadata:
  name: trino-iceberg-config
data:
  iceberg.properties: |
    connector.name=iceberg

    iceberg.catalog.type=hive_metastore
    hive.metastore.uri=thrift://hive-metastore:9083
    
    fs.native-azure.enabled=true
    azure.auth-type=ACCESS_KEY
    azure.access-key= <ABFS_ACCESS_KEY>
    
    iceberg.file-format=PARQUET
    iceberg.register-table-procedure.enabled=true
    iceberg.metadata-cache.enabled=false
    fs.cache.enabled=false
    iceberg.allowed-extra-properties=*
    iceberg.extended-statistics.enabled=true